<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">DNI del Usuario</ion-label>
    <ion-input [(ngModel)]="dniInput" btype="text" ></ion-input>
    <ion-label position="floating" >Nombre Usuario</ion-label>
    <ion-input [(ngModel)]="nombreInput" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="agregarUsuarioPorDni(dniInput,nombreInput)">
    Agregar Usuario
  </ion-button>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">DNI</ion-col>
      <ion-col size="2">IDENTIFICACIÓN</ion-col>
      <ion-col size="2">nombre</ion-col>
      <ion-col size="2">Acciones</ion-col>
    </ion-row>

    <ng-container *ngFor="let usuario of usuarios">
      <ion-row>
        <ion-col size="2">{{ usuario?.dni }}</ion-col>
<ion-col size="2">{{ usuario?.id }}</ion-col>
<ion-col size="2">{{ usuario?.nombre }}</ion-col>
        <ion-col size="2">
          <ion-button color="danger" fill="outline" (click)="eliminarUsuario(usuario)">
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- <ion-row>
      <ion-col size="12">
        <ion-title>Usuarios Pendientes</ion-title>
      </ion-col>
    </ion-row> -->

    <ng-container *ngFor="let usuario of usuariosPendientes">
      <ion-row>
        <ion-col size="2">{{ usuario.nombre }}</ion-col>
        <ion-col size="2">{{ usuario.apellido }}</ion-col>
        <ion-col size="2">{{ usuario.email }}</ion-col>
        <ion-col size="2">
          <ion-button color="success" fill="outline" (click)="aprobarUsuario(usuario)">
            Aprobar
          </ion-button>
          <ion-button color="danger" fill="outline" (click)="eliminarUsuarioPendiente(usuario)">
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
